{{ 'section-marquee.css' | asset_url | stylesheet_tag }}


{%- liquid
    assign hide_border = section.settings.hide_border
-%}

<section class="marquee" 
    style="background: {{ section.settings.background_color }};
           color: {{ section.settings.text_color }};
           {% if section.settings.show_border != blank %}border: 0px solid #000;{% endif %}
           {% if hide_border == "top" %}border-top: none;{% endif %}
           {% if hide_border == "right" %}border-right: none;{% endif %}
           {% if hide_border == "bottom" %}border-bottom: none;{% endif %}
           {% if hide_border == "left" %}border-left: none;{% endif %}
           {% if hide_border == "sides" %}border-left: none; border-right: none;{% endif %}
           {% if hide_border == "sides_top" %}border-top: none; border-left: none; border-right: none;{% endif %}"
    data-section-id="{{ section.id }}" 
    id="marquee--{{ section.id }}" 
    data-direction="{{ section.settings.scroll_direction }}">
  <div
    class="marquee__inner"
    aria-hidden="true"
    ref="inner">
    <div class="marquee__part">
      {{ section.settings.text }}
    </div>
    <div class="marquee__part">
      {{ section.settings.text }}
    </div>
    <div class="marquee__part">
      {{ section.settings.text }}
    </div>
    <div class="marquee__part">
      {{ section.settings.text }}
    </div>
    <div class="marquee__part">
      {{ section.settings.text }}
    </div>
    <div class="marquee__part">
      {{ section.settings.text }}
    </div>
       <div class="marquee__part">
      {{ section.settings.text }}
    </div>
       <div class="marquee__part">
      {{ section.settings.text }}
    </div>
       <div class="marquee__part">
      {{ section.settings.text }}
    </div>
       <div class="marquee__part">
      {{ section.settings.text }}
    </div>
       <div class="marquee__part">
      {{ section.settings.text }}
    </div>
       <div class="marquee__part">
      {{ section.settings.text }}
    </div>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>

<script>
(function() {
    const sections = document.querySelectorAll(".marquee");

    sections.forEach((section) => {
        let direction = section.getAttribute("data-direction");
        let animationDirection = direction === "left" ? -100 : 100;

        const elements = section.querySelectorAll(".marquee__part");
        const inner = section.querySelector(".marquee__inner");

        let tween = gsap.to(elements, {
            xPercent: animationDirection,
            repeat: -1,
            duration: 10,
            ease: "linear"
        }).totalProgress(0.5);

        gsap.set(inner, {xPercent: -50});
    });
})();
</script>

{% schema %}
{
  "name": "Marquee",
  "settings": [
    {
        "type": "header",
        "content": "Content"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>❀ 20% OFF ALL KITCHENWARE THIS WEEKEND</p>"
    },
    {
        "type": "header",
        "content": "Style"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000"
    },
    {
      "type": "checkbox",
      "id": "show_border",
      "label": "Show Border",
      "default": true,
      "info": "'Show border' checkbox must be checked"
    },
        {
      "type": "select",
      "id": "hide_border",
      "label": "Hide border",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "sides",
          "label": "Sides"
        },
          {
          "value": "sides_top",
          "label": "Sides Top"
        }
      ],
      "default": "top"
    },
    {
        "type": "header",
        "content": "Direction"
    },
    {
      "type": "select",
      "id": "scroll_direction",
      "label": "Scroll Direction",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "right", "label": "Right" }
      ],
      "default": "left",
      "info": "Save the changes to see the effect"
    }
  ],
  "presets": [
    {
      "name": "Marquee"
    }
  ]
}
{% endschema %}